body {
    background: lightgray;
} /*change this*/

#tetris {
    width: 360px;
    border: 1px solid black;
    padding: 20px;
} /*change this*/

#canvas {
    width: 200px;
    height: 440px;
    background-color: black;
    position: relative;
    color: white;
} /*change this*/

#canvas h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 30px;
    padding-top: 200px;
} /*change this*/

.piece {
    border: 1px solid white;
    position: absolute;
} /*chnage this*/

#start {
    background: lightyellow;
    border-radius: 2px;
    color: black;
    cursor: pointer;
    font-size: 28px;
} /*change this*/

.esc {
    color: red;
} /*change this*/

.square {
    position: absolute;
    width: 19px;
    height: 19px;
    border: 1px solid white;
} /*change this*/

.type0 {
    background-color: mediumorchid;
}

.type1 {
    background-color: cyan;
} /*change this*/

.type2 {
    background-color: orange;
} /*change this*/

.type3 {
    background-color: blue;
} /*change this*/

.type4 {
    background-color: lime;
} /*change this*/

.type5 {
    background-color: red;
} /*change this*/

.type6 {
    background-color: yellow;
} /*change this*/


#next-shape {
    position: relative;
    background-color: black;
    border: 1px solid white;
    width: 110px;
    height: 110px;
} /*change this*/

#info {
    background-color: black;
    color: white;
    width: 110px;
    height: 420px;
    padding: 10px;
} /*change this*/